/* EXTERNAL CSS */

body{

    font-family: Arial, Helvetica, sans-serif;
    /* Everything related to typography and text is inherited by all(except form element) the child elements */

    border: 2px solid gold;
    /* This is not inherited by any other child elements */
}

input, select, button, textarea{
    font: inherit;
    /* the value inherit is used to inherit the properties of the paernt element */
}

p{
    color: crimson;
    margin: 0;

}

